/** Global Styles */

body {
	font-family: "Inknut Antiqua", sans-serif;
	color: #53444B;
	background-color: #FFFFFF;
}

main {
	overflow: hidden;
}

h1{
	font-size: 78px;
	line-height: 100%;
	font-weight: 600;
	letter-spacing: -2px;
	color: #FFFFFF;
}

h2{
	font-size: 56px;
	line-height: 120%;
	font-weight: 500;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 16px;
}

h3 {
	font-size: 35px;
	line-height: 120%;
	font-weight: 500;
	letter-spacing: -1px;
	color: #000000;
	margin: 0px;
}

p {
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	color: #000000;
}

/** Navigation */
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	color: #ffffff;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

/** Text over image */
.image{
	position: relative;
	text-align: center;
}

.center{
	position: absolute;
	top: 35%;
}

.card-img-wrap{
	width: 100%;
	aspect-ratio: 4 / 5;
	overflow: hidden;
	border-top-left-radius: 40% 40%;
	border-bottom-right-radius: 40% 40%;
	position: relative;
}

.card-img-wrap-2{
	width: 100%;
	overflow: hidden;
	border-radius: 5vw;
	position: relative;
}

/** Background Color */
.dark-blue-bac{
	background-color: #7992AE;
}

/** Newsletter */
.input-label{
	display: block;
	margin-bottom: 10px;
	color: #000000;
}

.input-field{
	width: 100%;
	border: none;
	height: 31px;
	padding: 4px 8px;
}

.contact-form{
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	gap: 32px;
	align-items: end;
}