/** Global Styles */

body {
	font-family: "Space Grotesk", sans-serif;
	color: #53444B;
	background-color: #FFFFFF;
}

main {
	overflow: hidden;
}

h1{
	font-size: 78px;
	line-height: 100%;
	font-weight: 700;
	letter-spacing: -2px;
	color: #FFFFFF;
}

h2{
	font-size: 56px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 16px;
}

h3 {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -1px;
	color: #000000;
	margin: 0px;
}

p {
	font-size: 16px;
	line-height: 140%;
	font-weight: 400;
	color: #53444B;
}

/** Text over image */
.image{
	position: relative;
	text-align: center;
}

.center{
	position: absolute;
	top: 35%;
}

/** Background Color */
.dark-grey-bac{
	background-color: #000000;
}