/** Global Styles */

body {
	font-family: "Inknut Antiqua", sans-serif;
	color: #53444B;
	background-color: #FFFFFF;
}

main {
	overflow: hidden;
}

h1{
	font-size: 78px;
	line-height: 100%;
	font-weight: 600;
	letter-spacing: -2px;
	color: #FFFFFF;
}

h2{
	font-size: 56px;
	line-height: 120%;
	font-weight: 500;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 50px;
}

h3 {
	font-size: 32px;
	line-height: 120%;
	font-weight: 500;
	letter-spacing: -1px;
	color: #000000;
	margin-bottom: 50px;
}

p {
	font-size: 17px;
	line-height: 140%;
	font-weight: 400;
	color: #000000;
}

/** Navigation */
header{
	padding: 16px 4%;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	color: #ffffff;
	text-decoration: none;
}

nav li {
	list-style: none;
	padding-left: 0px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 0px;
}

.hamburger {
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #FFF4E2;
}


.product-dropdown{
	position: relative;
}

.dropdown{
	display: none;
	position: absolute;
	background-color: white;
	font-family: inherit;
	min-width: 200px;
	z-index: 1;
	top: 100%;
	left: 0;
}

.product-dropdown:hover .dropdown{
	display: block;
}

.dropdown a{
	color: black;
	padding: 2vw 2vw;
	text-decoration: none;
	display: block;
}

.dropdown a:hover{
	background-color: #88A1C5;
}

/** image */
.image{
	position: relative;
	width: 100%;
}

.image img{
	width: 100%;
	display: block;
}

.text{
 	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	font-size: 78px;
  	text-align: center;
}

.value-card-display-sm{
	display: none;
}

.card-img{
	object-fit: cover;
	width: 100%;
}

.card-img-wrap{
	width: 100%;
	overflow: hidden;
	border-radius: 8vw 0vw;
	position: relative;
}

.card-img-wrap-2{
	width: 100%;
	overflow: hidden;
	border-radius: 6vw;
	position: relative;
}

.classes-card{
	border-radius: 8vw;
	background-color: #C2DDD0;
	padding: 5vw;
}

.card-container{
	display: flex;
	justify-content: center;
	gap: 3vW;
	flex-wrap: wrap;
}

.card-flip{
	background-color: transparent;
	width: 25vw;
	height: 25vw;
	perspective: 1000px;
	position: relative;
}

.card-flip-2{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.card-flip:hover .card-flip-2{
	transform: rotateY(180deg);
}

.front-card-flip, .flip-card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front-card-flip{
	background-color: white;
}

.flip-card-back{
	background-color: white;
	transform: rotateY(180deg);
}

.card-text{
	text-align: center;
	position: relative;
}

.position-relative{
	position: relative;
}

/** Background Color */
.dark-blue-bac{
	background-color: #7992AE;
}

/** Newsletter */
.input-label{
	display: block;
	margin-bottom: 10px;
	color: #000000;
}

.input-field{
	width: 100%;
	border: none;
	height: 31px;
	padding: 4px 8px;
}

.contact-form{
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	gap: 32px;
	align-items: end;
}

/** Buttons */
.button {
	display: inline-block;
	color: white;
	padding: 10px 18px;
	background-color: #000000;
	text-decoration: none;
	font-weight: medium;
	transition: background 0.2s ease;
	border-radius: 10px;
	border: none;
}

.button:hover {
	background-color: #434343;
}

.button-1{
	margin: 30px auto;
}

.button-2 {
	font-size: 15px;
}


/** Footer */
.footer-margin {
	margin-top: 30px;
}

.text-small {
	font-size: 12px;
}


/** Text Elements */
.white-text{
	color: white;
}

.center-text{
	text-align: center;
}

.list{
	color: black;
}

.useful-link-style{
	list-style: none;
	padding-left: 0px;
}

.link-no-link{
	text-decoration: none;
	color: white;
}


/** Meadia Screens */

/** Smartphone */
@media screen and (max-width: 480px){
	/* Main Styles */
	h1{
		font-size: 56px;
	}
	h2{
		font-size: 44px;
	}
	h3{
		font-size: 28px;
	}

	p {
		font-size: 17px;
	}

	/** Other Elements */
	.menu{
		display: none;
	}

	.text{
 		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		color: white;
  		font-size: 50px;
  		text-align: center;
	}

	.hamburger{
		display: flex;
	}

	.card-flip-sm{
		background-color: transparent;
		width: 80%;
		height: 80%;
		perspective: 1000px;
		position: relative;
	}

	.newsletter-form {
		display: grid;
		grid-template: 1fr / 1fr;
		gap: 32px;
		align-items: start;
	}

	.card-flip{
		background-color: transparent;
		width: 300px;
		height: 300px;
		perspective: 1000px;
		position: relative;
	}

	.value-card-display{
		display: none;
	}

	.value-card-display-sm{
		display: block;
	}

	.margin{
		margin-bottom: 50px;
	}

	.footer-logo{
		display: none;
	}

	.footer-margin {
		margin-top: 50px;
	}
}